<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nhungnguyen.firstproject">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Activities.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_project"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.TestLayoutActivity" />
        <activity android:name=".Activities.DetailPersonActivity" />
        <activity android:name=".Activities.PhoneCallActivity">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ItentActivity">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data android:scheme="tel" />
                <data android:scheme="smsto" />
                <data android:scheme="mailto" />
                <data android:scheme="https" />
                <data android:scheme="market" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SharedReferencesActivity" />
        <activity android:name=".Activities.ChangeDbActivity" />
        <activity android:name=".Activities.TestFragmentViewPagerActivity" />
        <activity android:name=".Activities.TestFragmentActivity" />
        <activity android:name=".Activities.BroadcastActivity111" />

        <receiver android:name=".MyPhoneReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".Activities.MyBroadcast"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.example.nhungnguyen.firstproject.Activities.TestNotificationActivity" />
                <action android:name="com.example.nhungnguyen.firstproject.Receive" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activities.TestNotificationActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.PassReceiveActivity" />
        <activity android:name=".Activities.TestDay19Activity"></activity>
    </application>

</manifest>